doctype html
html
    head
        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
        link(rel='stylesheet',href='css/banner.css')
        title 顶部banner全屏图片切换
    body
        .banner-box
            .bd
                ul
                    li.part1
                        .m-width
                            a(href='javascript:void(0);')
                                img(src='images/img1.jpg')
                    li.part2
                        .m-width
                            a(href='javascript:void(0);')
                                img(src='images/img2.jpg')
                    li.part3
                        .m-width
                            a(href='javascript:void(0);')
                                img(src='images/img3.jpg')
                    li.part4
                        .m-width
                            a(href='javascript:void(0);')
                                img(src='images/img4.jpg')
            .banner-btn
                a(href='javascript:void(0);',class='prev')
                a(href='javascript:void(0);',class='next')
                .hd
                    ul

        script(src='js/jquery-1.7.2.min.js')
        script(src='js/jquery.SuperSlide.2.1.1.js')
        script(src='js/banner.js')